@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;400;500;700;900&family=Zen+Dots&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.trans {
  transition: all 0.2s ease-in-out;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity .5s
}

.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active {
  opacity: 0
}
